BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 240
BraceWrapping:
    AfterClass: false
    AfterControlStatement: false
    AfterFunction: false
    AfterNamespace: false
    AfterStruct: false
    AfterEnum: false
    BeforeElse: false
    IndentBraces: false
